/* Список друзей */
.b-friends

  &__photo
    float left
    margin-right 20px

  &__info
    overflow hidden

  &__list
    margin 20px 0 0

  &__item
    margin 0 0 20px

  &__photo
    position relative
    top 5px

  &__link
    color #fff
    text-decoration none

  &__name
    display block

  &__status, &__phone
    position relative
    margin 0 0 5px
    color #fff

  &__status
    font-size (13/16)*1em