/* Список групп */
.b-groups

  &__list
    margin 0
    padding 0
    list-style none

  &__item
    margin 0 0 20px
    
  &__photo
    position relative
    top 6px
    float left
    margin-right 20px
    border-radius 25%

  &__info
    overflow hidden
    
  &__name
    font-size 1.5em

  &__count, &__type
    margin 0 0 5px
    font-weight bold
    font-size (15/16)*1em

  &__description
    display block
    margin 10px 0
    padding-left 10px
    border-left 3px solid #c0392b
    font-style italic
    font-size (13/16)*1em