/* Профиль */
.b-profile

  &__sidebar
    float left
    width 300px

    &-header
      margin 0 0 20px
      width 260px
      text-align center
      font-weight bold
      font-size (22/16)*1em

    &-list
      margin 0
      padding 0
      list-style none

    &-item
      display inline-block
      overflow hidden
      margin 0 10px 10px 0
      width 80px
      vertical-align top
      text-align center
      font-size (13/16)*1em

    &-link
      display block
      margin 0 auto
      width 50px

    &-photo
      display block
      margin 0 auto

    &-name
      display block
      text-align center
      font-size (13/16)*1em
