.b-photos
	display block

	&__list
		margin 0
		padding 0
		list-style none

	&__item
		display inline-block
		padding 10px 20px 10px 0
		vertical-align top

	&__link
		text-decoration none
		display block

	&__photo
		
		&:hover
			box-shadow 0 0 2px 2px rgba(0,0,0,.6)

	&__link-back
		text-decoration none
		border-bottom 1px dotted #fff
		color #fff
		font-style italic
		font-size (20/16)*1em
		display inline-block