/* Сайдбар */
.b-sidebar
  position fixed
  top 0
  bottom 0
  left 0
  width 400px
  background #2c3e50

  &__list
    margin 10px 0 0 20px
    padding 0
    list-style none

  &__item
    padding 2px 0

  &__link
    color #fff
    text-decoration none
    font-size (14/16)*1em
    transition color 0.5s ease

    &:hover
      color #2980b9

  &__notifications
    display inline-block
    padding 20px
    color #ffff00
    font-weight bold
    cursor pointer