/* Внешние шрифты */
@import "_fonts.styl"

/* Глобальные стили */
@import "_globals.styl"

/* Обвязка */
@import "_b-page.styl"

/* Шапка */
@import "_b-header.styl"

/* Сайдбар */
@import "_b-sidebar.styl"

/* Основной контент */
@import "_b-main.styl"

/* Список друзей */
@import "_b-friends.styl"

/* Группы */
@import "_b-groups.styl"

/* Профиль */
@import "_b-profile.styl"

/* Стена */
@import "_b-wall.styl"

/* Аудиозаписи */
@import "_b-music.styl"

/* Фотографии */
@import "_b-album.styl"

/* Альбом фотографий */
@import "_b-photos.styl"

/* Аудиоплеер */
@import "_b-player.styl"

/* Подвал */
@import "_b-footer.styl"

/* Всплывающие, модальные окна */
@import "_b-popup.styl"

/* Responsive CSS */
@import "_responsive.styl"